<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% content_for(:navbar) do %>
    <li><a href="/">Home</a></li>
    <li><a href="products/">Products</a></li>
  <% end %>
    </nav>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
